.families-list {
    display: none; /* hide the list by default */
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  .families-list li {
    margin-bottom: 10px;
  }
  
  .families-list button {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .families-list button:hover {
    background-color: #e5e5e5;
  }
  