@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}




header {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 36px;
  margin: 0;
}

header form {
  display: flex;
}

header input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-right: 10px;
  padding: 5px;
  transition: all 0.3s ease;
}

header input[type="text"]:focus {
  border-bottom: 2px solid #ea0a8e;
  outline: none;
}

header button[type="submit"] {
  background-color: transparent;
  border: 2px solid #ea0a8e;
  color: #ea0a8e;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 5px 15px;
  transition: all 0.3s ease;
}

header button[type="submit"]:hover {
  background-color: #ea0a8e;
  color: #fff;
}

main {
  margin-top: 100px;
  padding: 20px;
}

.character {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 45%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .character {
      display: block;
      width: 100%;
    }
  }
  

.character:hover {
  box-shadow: 0 5px 20px rgba(100, 100, 100, 0.8);
  transform: translateY(-5px);
}

.character .img-container {
  background-color: #ea0a8e;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.character .img-container img {
  width: 100%;
}

.character .info {
  margin-top: 20px;
}

.character .number {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.character .name {
  margin: 15px 0
}


  /* Show families button */
#family-button {
    background-color: transparent;
    border: 2px solid #0088cc;
    color:  #0088cc;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  #family-button:hover {
    background-color: #0088cc;
    color: #fff;
  }


  #map-button {
    background-color: transparent;
    border: 2px solid#ff9900;
    color: #ff9900;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-right: 10px;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  #map-button:hover {
    background-color: #ff9900;
    color: #fff;
  }

  /* poll*/
  #poll {
    border: 2px solid #c21e00;
    padding: 20px;
    margin-top: 50px;
    background-color: #f9d9b8;
  }
  
  #poll h2 {
    margin-top: 0;
    color: #c21e00;
  }
  
  #poll form {
    display: flex;
    flex-direction: column;
  }
  
  #poll label {
    margin-bottom: 10px;
    color: #c21e00;
  }
  
  #poll button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ffd700;
    color: #c21e00;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #poll button:hover {
    background-color: #c21e00;
    color: #fff;
  }
  .poll-result {
    color: black;
  }
    